---
import { Image } from "astro:assets";
import Logo from "../assets/kck.png";
---

<nav class="w-full flex flex-row items-center px-15 py-5">
    <div class="w-1/2">
        <a href="/home" class="cursor-pointer"><Image class="w-60 cursor-pointer" src={Logo} alt="Kimberly Clark Logo" /></a>
    </div>
    <div class="w-1/2">
        <ul class="flex flex-row justify-end">
            <li><a href="" class="cursor-pointer hover:underline mx-5 bg-red-700 px-3 py-2 rounded-lg text-white">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>
