---
import { Image } from "astro:assets";
import NavbarOut from "../components/NavbarOut.astro";
import Layout from "../layouts/Layout.astro";
import SmallLogo from "../assets/logo.png";
---

<Layout>
    <main>
        <NavbarOut />

        <section class="flex items-center justify-center">
            <div class="flex flex-col text-center border-2 border-gray-300 shadow-lg p-8 rounded-xl bg-white">
                <div>
                    <Image class="mx-auto w-40" src={SmallLogo} alt="Login logo" />
                </div>
                <div class="px-10">
                    <h1 class="font-bold text-3xl">Inicio de sesion</h1>
                    <p class="py-3 text-sm">Utilizando la plataforma para el trabajo, te recomendamos utilizar tu correo de trabajo</p>
                    <form action="" class="flex flex-col items-center px-32">
                        <input class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1" type="email" placeholder="Correo electronico">
                        <input class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1" type="password" placeholder="Contraseña">
                        <button class="bg-blue-700 text-white w-full mt-3 hover:underline cursor-pointer px-4 py-2 rounded-lg" type="submit">CONTINUAR</button>
                    </form>
                    <div class="flex flex-row justify-center mt-3">
                        <p>No tienes una cuenta aun</p>
                        <a href="/register" class="ml-2 text-blue-600 underline">Registrarme</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
