---
import { Image } from "astro:assets";
import NavbarOut from "../components/NavbarOut.astro";
import Layout from "../layouts/Layout.astro";
import SmallLogo from "../assets/logo.png";
---

<Layout>
  <main>
    <NavbarOut />

    <section class="flex items-center justify-center">
      <div
        class="flex flex-col text-center border-2 border-gray-300 shadow-lg p-8 rounded-xl bg-white"
      >
        <div>
          <Image class="mx-auto w-40" src={SmallLogo} alt="Login logo" />
        </div>
        <div class="px-10">
          <h1 class="font-extrabold text-4xl">Registro</h1>
          <p class="py-3 text-sm">
            Utilizando la plataforma para el trabajo, te recomendamos utilizar
            tu correo de trabajo
          </p>
          <form action="" class="flex flex-col items-center px-32" id="registro-form">
            <input
              name="nombre"
              class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1"
              type="text"
              placeholder="Nombre completo"
            />
            <select
              name="id_planta"
              id="planta"
              class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1"
            >
              <option value="1">Planta Bajio</option>
              <option value="2">Planta Prosede</option>
              <option value="3">Planta Ramos Arizpe</option>
              <option value="4">Planta Tlaxcala</option>
              <option value="5">Planta Ecatepec</option>
              <option value="6">Planta Morelia</option>
              <option value="7">Planta San Rafael</option>
              <option value="8">Planta Texmelucan</option>
              <option value="9">Planta Toluca</option>
            </select>
            <input
              name="cargo"
              class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1"
              type="text"
              placeholder="Cargo dentro de la empresa"
            />
            <input
              name="email"
              class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1"
              type="email"
              placeholder="Correo electronico"
            />
            <input
              name="password"
              class="border-2 border-gray-400 w-full rounded-lg shadow-xl px-4 py-2 my-1"
              type="password"
              placeholder="Contraseña"
            />
            <button
              class="bg-blue-700 text-white w-full mt-3 hover:underline cursor-pointer px-4 py-2 rounded-lg"
              type="submit">CONTINUAR</button
            >
          </form>
          <div class="flex flex-row justify-center mt-3">
            <p>Ya tienes una cuenta</p>
            <a href="/login" class="ml-2 text-blue-600 underline"
              >Iniciar Sesion</a
            >
          </div>
        </div>
      </div>
    </section>

    <script>
      const form = document.getElementById("registro-form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(form);

        const data = {
          nombre: formData.get("nombre"),
          email: formData.get("email"),
          password: formData.get("password"),
          id_planta: parseInt(formData.get("id_planta")),
          cargo: formData.get("cargo")
        };

        try {
          const response = await fetch("http://localhost:8080/api/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
            credentials: 'include'
          });

          const result = await response.json();

          if (response.ok) {
            alert("Usuario registrado exitosamente");
            window.location.href = "/login";
          } else {
            alert(
              `Error: ${result.message || "No se pudo registrar el usuario"}`
            );
          }
        } catch (error) {
          console.error("Error en la solicitud:", error);
          alert(error);
        }
      });
    </script>
  </main>
</Layout>
